*{
    box-sizing: border-box;
    
}
 

body{
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    font-family:"Poppins", sans-serif;
  margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

}
  
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    color: #c6cbd3;
    text-decoration: none;
}

.nav-numb{
    color:#f4f5fa;
}
  #bod-tit{
       margin: auto;
        width: 100%;
      justify-content: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

  }

  .home-int, .home-txt{
    color: #9b9db3;
  }

  .home-tit{
    color: white;
    font-family: "Cinzel", sans-serif;
  }

  .home-circ{
   font-family: "Cinzel", sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

  }

  .aBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

   .des-num{
        color: #383c46;
        font-weight: bold;

    }

    .des-tit{
        color: #ffffff;
    }

    .month-tit, .mil-tit{
        color: #aeaeb6;
    }

    .planet-time{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

 

.des-down{
    width: 100%;
}

.planet-name{
    display: flex;
    flex-direction: row;
     color: #bec3cf;
  
}

.planettxt{
    color: rgb(190, 191, 199);
}

.planettit, .crew-name{
    color: #ffffff;
    font-family: "Cinzel", sans-serif;
}

.month-txt, .mil-txt{
color: #e2e5eb;
font-family: "Cinzel", sans-serif;
}

.planet-box{
     background-image: url("image-moon.png");
       background-size: cover;
}

 .down-line, .headdown{
        max-width: 70px;
        height: 2px;
        background-color: white;
        margin: 0 auto;
    }

 .position{
   color: #d5d9e0;
font-family: "Cinzel", sans-serif;

 }

 .crew-txt{
    color: rgb(190, 191, 199);
 }

 .crew-btn{
    background-color: #25262a;
    border: none;
    border-radius: 50%;
 }
    
.crew-buttons{
    display: flex;
    flex-direction: row;
 
    justify-content: space-around;
     
}

.person-box{
    background-image: url("image-douglas-hurley.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.crew-right{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 1rem auto;
     
}

.tec-buttons{
    display: flex;
  
  }

  .tec-int{
    color:#7d8194 ;
  }

  .tec-tit{
    color: #ffffff;
  }

  .tec-tit {
    font-family: "Cinzel", sans-serif;

  }

  .tec-txt{
    color: rgb(190, 191, 199);
  }

   .tec-btn{
    border-radius: 50%;
    border: 0.5px solid rgba(255, 255, 255, 0.397);
    background-color: transparent;
    color: white;
    text-align: center;
    
  }


 
@media screen and (max-width: 480px){
 #bod-tit,.home-cont, .des-cont, .crew-cont, .tec-cont{
       width: 98%;
    }
 .planet-time{
    margin: 0 auto;
 }

 nav{
     width: 80%;
 }
   
}

@media screen and (max-width: 768px) {
    #bod-tit{
        max-width: 480px;
    }
    
    nav a{
        font-size: 0.75rem;
        font-weight: 500;
     
    }
     
    .nav-numb{
        display: none;
    }
    
    nav{ 
     width: 70%;
        justify-content: space-around;
         background: #131522 ;
         height: 30px;
    }

    .logo-box{
        height: 50px;
        width: 50px;
        transform: scale(0.5);
    }
    .line{
        display: none;
    }
    
    .home-cont{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     max-width: 480px;
     text-align: center;
     margin-top: 1rem;
     margin-bottom:2rem ;
    }

     .home-txt{
        max-width: 41ch;
        font-size: 0.88rem;
        margin-top: -1rem;
        line-height: 22px;
    }

    .home-tit{
        font-size: 5rem;
        letter-spacing: 10px;
        

    }

    .home-int{
        margin-bottom: -4rem;
        font-size: 1.25rem;
    }

    .home-circ{
        width: 140px;
        height: 140px;
        background-color: white;
        border-radius: 50%;
        font-size: 1.5rem;
        margin-top: 3rem;
    }
     .des-tit{
        font-size: 0.95rem;
        word-spacing: 4.5px;
        letter-spacing: 2px;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    
    .des-down{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 4rem;
        width: 98%;
        margin: 0 auto;
    }

    .planet-box{
        
       width: 220px;
       height: 220px;
       margin: 0 auto;
    }

     

    .planet-name{
        width: 80%;
        justify-content: space-around;
    
    }


    .planettit{
        font-size: 3rem;
       
    }

    .planettxt{
        font-size: 0.95rem;
        line-height: 22px;
        max-width: 38ch;
        margin-left: 1rem;
    }

    .planet-time{
        width: 80%;
        
    }

    .month-txt, .mil-txt{
        font-size: 1.25rem;
    }

    .mil-tit, .month-tit{
        font-size: 0.7rem;
    }
    
    .des-cont, .crew-cont{
        max-width: 480px;
        width: 100%;
        margin: 0 auto 2rem;
        padding-left: 0.3rem;
    }

    .tec-cont{
         max-width: 480px;
        width: 100%;
        margin: 0 auto 2rem;
    }
    .down-line{
        max-width: 70px;
        height: 2px;
        background-color: white;
        margin: 0 auto;
    }

.crew-infcont{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
   
   }

   .crew-left{
     display: flex;
    flex-direction: column-reverse;
   
   }
.crew-buttons{
  width: 80px;
  margin: 1rem auto;
}

  .crew-btn{
    width: 12px;
    height: 12px;
  }

  .person-box{
    width: 230px;
    height: 320px;
    margin: 0 auto;
  }

  .crew-right{
    flex-direction: column-reverse;

  }

  .position{
    font-size: 1.1rem;
  }

  .crew-name{
    font-size: 1.7rem;
  }

  .crew-txt{
    font-size: 0.9rem;
    max-width: 39ch;
    margin: 0 auto;
  }

  .crew-left{
    width: 100%;
  }

  .crew-cont{
    margin-bottom: 3rem;
  }
   
  .tec-img{
    max-width: 430px;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background-image: url('image-launch-vehicle-landscape.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tec-infbox{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .tec-btn{
    font-size: 0.85rem;
    width: 30px;
    height: 30px;
  }

  .tec-buttons{
    width: 120px;
    flex-direction: row;
     margin: 0 auto;
    justify-content: space-around;
     
  }

  .tec-int{
    font-size: 0.9rem;
  }
  .tec-tit{
    font-size: 1.2rem;
  }
  
  .tec-txt{
    font-size: 0.85rem;
    max-width: 40ch;
    margin: 0 auto;
  }

}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .logo-box{
        height: 50px;
        width: 50px;
         
    }

    
        nav{
 background: #131522 ;

height: 70px;
font-size: 0.9rem;
justify-content: space-around;
width: 55%;
 
    }

   

    #bod-tit{
    margin-top: 1rem;
     
    }

    .home-cont{
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
         display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin : 2rem auto;
     
    }

    .home-txt{
        max-width: 41ch;
        font-size: 1.05rem;
        margin-top: -4rem;
        line-height: 27px;
    }

    .home-tit{
        font-size: 6.5rem;
    }

    .home-int{
     font-size: 0.9rem;
     margin-bottom: -7rem;
    }

     .home-circ{
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        font-size: 1.5rem;
        margin-top: 3rem;
    }

    .des-tit{
        font-size: 1.2rem;
        word-spacing: 4.5px;
        letter-spacing: 2px;
        margin-left: 1rem;
        margin-top: 2rem;
         
    }
    
    .des-down{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 4rem;
        width: 98%;
        margin: 0 auto;
    }

    .planet-box{
        
       width: 250px;
       height: 250px;
       margin: 0 auto;
    }

     

    .planet-name{
        width: 80%;
        justify-content: space-between;
        font-size: 1.1rem;
    }


    .planettit{
        font-size: 3.5rem;
       
    }

    .planettxt{
        font-size: 1rem;
        line-height: 28px;
        max-width: 40ch;
        margin-left: 1rem;
    }

    .planet-time{
        width: 80%;
        
    }

    .month-txt, .mil-txt{
        font-size: 1.4rem;
    }

    .mil-tit, .month-tit{
        font-size: 0.9rem;
    }
    
    .des-cont{
        max-width: 480px;
        width: 100%;
        margin: 0 auto 3rem;
        padding-left: 0.3rem;
    }

    .crew-cont{
        max-width: 650px;
        width: 100%;
        margin: 2rem auto;
    }

    .crew-infcont{
        max-width: 480px;
        width: 100%;
        margin: 3rem auto;
        text-align: center;
    }

    .position{
        font-size: 1.15rem;
    }

    .crew-name{
        font-size: 1.7rem;
    }

    .crew-txt{
        font-size: 0.95rem;
        max-width: 48ch;
        margin: 0 auto;
    }

    .crew-btn{
        width: 15px;
        height: 15px;
    }

    .crew-buttons{
        width: 100px;
         
        margin: 2rem auto ;
    }

    .crew-right{
        margin-top: 3rem;
        flex-direction: column;
    }

    .person-box{
        width: 300px;
        height: 420px;
        margin: 0 auto;
    }

    .up{
        min-height: 270px;
        height: 100%;
         
    }
    .tec-cont{
        max-width: 700px;
        width: 100%;
        margin: 0 auto 3rem;
    }
    .tec-img{
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
    height: 270px;
    background-image: url('image-launch-vehicle-landscape.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tec-infbox{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }

  .tec-btn{
    width: 40px;
    height: 40px;
    font-size: 0.95rem;

  }

  

  .tec-buttons{
    width: 150px;
    flex-direction: row;
     margin: 0 auto;
    justify-content: space-around;
     
  }

   
  .tec-tit{
    font-size: 1.4rem;
  }
  
  .tec-txt{
    font-size: 0.95rem;
    max-width: 40ch;
    margin: 0 auto;
    line-height: 24px;
  }

} 
 
@media screen and (min-width: 1025px){

    nav{
 background: linear-gradient(
    90deg,
    #0b0f1a 0%,
    #252b36 30%,
    #283140 100%
     
);;
display: flex;
width: 54%;
justify-content: space-around;
height: 60px;
}
 

.home-cont{
    width: 100%;
  max-width: 1000px;
  display: flex;
    flex-direction: row;
     justify-content: space-between;
    
    align-items: center;
   margin: 9rem auto 0;
}

  

.des-cont{
   width: 100%;
max-width: 1000px;
display: flex;
    flex-direction: column;
  
    margin:3.5rem auto 0;
 
}
.home-int{
    font-size: 1.2rem;
    margin-bottom: -6rem;
}

.home-tit{
    font-size: 7rem;
}

.home-txt{
    max-width: 50ch;
    margin-top: -5rem;
    font-size: 0.9rem;
    line-height: 25px;
}
#bod-tit{
    justify-content: space-between;
    width: 100%;
}

.logo-box{
    margin-left: 1rem;
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
}
.home-circ{
        width: 180px;
        height: 180px;
        background-color: white;
        border-radius: 50%;
        font-size: 1.6rem;
        margin-top: 3rem;
    }

    .line{
        background-color: #41434e;
        width: 35%;
        height: 2px;
        position: absolute;
        z-index: 1;
        margin-left: 12%;
    }

    .downDiv{
        width: 20px;
        height: 1px;
        background-color: white;
    }

    .des-tit{
        font-size: 1.2rem;
        word-spacing: 4.5px;
        letter-spacing: 2px;
    }
    
    .des-down{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
        
    }

    .planet-box{
        
       width: 400px;
       height: 400px;
    }

    .planet-inf{
        width: 500px;
    }

    .planet-name{
        width: 50%;
        justify-content: space-between;
        margin-bottom: -4.5rem;
    }


    .planettit{
        font-size: 6rem;
        margin-bottom: -0.4rem;
    }

    .planettxt{
        font-size: 1.05rem;
        line-height: 26px;
    }

    .planet-time{
        width: 70%;
    }

    .month-txt, .mil-txt{
        font-size: 1.4rem;
    }

    .mil-tit, .month-tit{
        font-size: 0.8rem;
    }
    
    .planet-name p:hover{
        cursor: pointer;
    }

     .person-box{
        width: 340px;
        height: 480px;
         
     }
    
.up{
    max-height: 400px;
    height: 100%;
    
}
    

    .crew-left{
        text-align: start;
        margin: 0;
    }

    .crew-infcont{
        width: 100%;
        margin-left: 2rem;
      
    }

    .crew-infcont{
        max-width: 1000px;
        width: 100%;
        margin: 2rem auto 0;
        display: flex;
        flex-direction: row;
 
    }

    .crew-btn{
        width: 15px;
        height: 15px;
    }

    .crew-btn:hover{
        cursor: pointer;
    }

    .crew-buttons{
        width: 120px;
        margin-top: 2rem;
    }
    
    .position{
        font-size: 1.3rem;
        margin-bottom: -1rem;
    }

    .crew-name{
        font-size: 3rem;
        min-width: 20ch;
    }

    .crew-txt{
        max-width: 50ch;
        font-size: 0.95rem;
        line-height: 24px;
    }
    
   .crew-cont .des-tit{
     
    margin-top: 2cqb;
   }

   .crew-cont{
    width: 85%;
    margin: 0 auto;
   }


      .tec-cont{
       
        width: 98%;
        margin: 0 auto 3rem;
     
       
        }
    .tec-img{
     width: 450px;
    height: 450px;
    background-image: url('image-launch-vehicle-portrait.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
  }

  .box{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    
    height: max-content;
    margin: auto;
  }
  .tec-infbox{
    width: max-content;
    margin: 1rem auto 0;
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-items: center;
  }

  .tec-btn{
    width: 50px;
    height: 50px;
    font-size: 1.05rem;

  }

  

  .tec-buttons{
    height: 300px;
    flex-direction: column;
     margin: 0 auto;
    justify-content: space-around;
     margin-right: 2rem;
  }

   
  .tec-tit{
    font-size: 2.8rem;
   min-width: 20ch;
   margin-bottom: 1rem;
}
  
  .tec-txt{
    font-size: 0.85rem;
    max-width: 35ch;
     
    line-height: 24px;
  }
    
  .tec-int{
    font-size: 1.1rem;
    margin-bottom: -2rem;
  }

  .tec-cont .des-tit{
    margin-left: 5%;
  }

  .tec-btn:hover{
    cursor: pointer;
  }
}